pipeline/pl_webactivity_11.json
{
	"name": "pl_webactivity_11",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://reqres.in/api/users?page=1"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WebActivityVariable",
					"value": {
						"value": "@{activity('Web1').output.data}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"WebActivityVariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}